
#counting{
    font-size: 16px;
    color: grey;
    font-family: cursive;
}
#box{
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 16px;
}
.bodybg{
    background-color: rgb(236, 144, 141);
    width: 540px;
    height: 250px;
    padding: 20px;
    border-radius: 4px;
}
.bgcolor{
    background-color: red;
    width: 580px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.heading{
    font-family:cursive;
    font-size: 25px;
   letter-spacing: 1px;
}
.number{
    color: purple;
}
.remaining{
      padding-left: 270px;
}
.remainingnumber{
    color: red;
}
